<h1 class="text-center mb-5">Welcome to my Gmail page</h1>



<div class="container">
  <% @emails.each do |email| %>
  <div class="card m-1">
    <div class="card m-1">
    <li><%= email.object %></li>
    </div>
      <div class="card m-2">
        <p><%= email.Body %></p>


      </div>
  </div>    
  <% end %>
</div>


